<my-form (change)="formValue($event)">
    <!-- <div class="primary">Primary content</div>
  <div secondary>Secondary content</div>
  <div>Div content</div> -->
  <input type="text" name="name1" value="xuy">
  <input type="text" name="name2" value="odu">
  <form action="" name="form0">
    <input type="text" name="name3" value="did">
    <input type="text" name="name4" valur="skse">
    <select name="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </form>
</my-form>